*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
misFuentes
font-family: 'Inter', sans-serif;
font-family: 'Secular One', sans-serif;;
*/
body{
    display: grid;
    grid-template-rows: 0.7fr auto 0.5fr;
    grid-template-areas:
    "head"
    "mainb"
    "foot";
    align-content: center;
    width: 100%;
}