footer{
    grid-area: foot;
    @include flexRow;
    justify-content: space-evenly;
    width: 100%;
    padding: 1em;
    background-color: $headFoot;
    .iconoSocial{
        margin: 5px;
        width: 4em;
        height: 4em;
        &:hover{
            transform: scale(1.1);
            transition: all 0.8s;
        }
    }
}