header{
    grid-area: head;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2em;
    background-color: $headFoot;
    nav{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: end;
        width: 100%;
        .collapse{
            justify-content: flex-end;
        }
        .navbar-nav{
            color: aliceblue;
            align-items: center;
        }
        .iconoPrincipal{
            width: 5em;
            height: 5em;
            &:hover{
                transform: scale(1.1);
                transition: all 0.8s;
            }
        }
        .iconoMenu{
            width: 3em;
            height: 3em;
        }
        .navbar-toggler:focus {
            box-shadow: 0 0 0 0;
        }
        .nav-link{
            font-family: 'Secular One', sans-serif;
            color: aliceblue;
            padding: 1em;
            text-decoration: none;
            list-style-type: none;
            background-color: rgb(216, 20, 53);
            border-radius: 2em;
            margin: 1em;
            &:hover{
                transform: translateY(-3px);
                transition: all 0.8s;
            }
        }
    }
}