@media screen and (max-width: 992px){
    .nav-link{
        display: flex;
        width: 60%;
        justify-content: center;
    }
}
@media screen and (max-width: 768px){
    .galeriaVideos{
        flex-flow: column wrap;
    }
}    
@media screen and (max-width: 540px){
    main{
        background-size: 130%;
    }
    .iconoSocial{
        width: 2em;
        height: 2em;
    }
    .nav-link{
        width: 80%;
    }
}
@media screen and (max-width: 340px){
    div.container-fluid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .navbar-toggler, .navbar-brand{
            display: flex;
            flex-flow: column wrap;
            align-content: center;
        }
        .navbar-brand{
            padding: 1em;
            margin: 0;
        }
    }
}